.Board{
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    background-image: url("../../img/board.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 60vw;
    max-height: 60vw;
    min-width: 35vw;
    min-height: 35vw;
    border: 5px solid white;
}
