.Board{
    display: grid;
    grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    grid-template-rows: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    background-image: url("../../img/board.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 30em;
    height: 30em;
    border: 5px solid white;
}
