.OR{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:40%;
    border-radius: 5%;
    border: 1px solid white;
    color: white;
}

.optionButton{
    width: 6em;
    background-color: transparent;
    border-radius: 5%;
    color: white;
    margin: 0.25em;
}

.activeOptionButton{
    width: 6em;
    background-color: transparent;
    border-radius: 5%;
    color: white;
    margin: 0.25em;
    border:1px solid black
}

.nameInput{
    background-color: transparent;
    border-radius: 5%;
    width: 40%;
}

.nameForm{
display: flex;
justify-content: center;
}