.ER{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:40%;
    border-radius: 5%;
    color: white;
    text-shadow: 1px 1px 3px black ;
    background-color: YellowGreen;
    box-shadow: 0px 5px 40px black;
    line-height : 30px;
}

@media (max-width: 800px) {
    .ER {
        display: flex;
        flex-direction: column;
        width: 340px;
        height: 320px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
  }