.gameCard{
    width: 400px;
    height: 200px;
    display:flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 2%;
    border: 2px solid grey;
    box-shadow: 5px 5px 30px black;
}

.firstBoxCard{
    width: 100%;
    height: 80%;
}

.secondBoxCard{
    height:40%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px white ;
    background-color: #181818;
}

.imgCard{
    width: 100%;
    height: 100%;
}

.cardContain{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.pic{
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.cardImg{
    width: 50px;
}