@font-face {
  font-family: "fuentePrueba";
  src: url("/src/assets/font/press-start.regular.ttf");
}

*{
  font-family: "fuentePrueba";
  color:white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
