@font-face {
  font-family: "fuentePrueba";
  src: url("/src/assets/font/press-start.regular.ttf");
}

*{
  font-family: "fuentePrueba";
  color:white;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("/src/assets/backgrounds/t2.png");
  background-color: white;
  min-width: 360px;
}

a {
  text-decoration: none; /* no underline */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
