.Nav{
    background-color: black;
    height: 6vh;
    padding-top: 0.75em;
    color: white;
    padding-left: 0.5em;
    text-decoration: none;
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.active{
    color: blue;
}

.navTitle{
    font-size: 1.2em;
    color:white;
    text-decoration: none;
}

.navItem{
    color:white;
    margin-left: auto;
    font-size: 0.9em;
    text-decoration: none;
}
