.Db{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
}

.cardsContainer{
    margin-top: 20px;
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}